#import "DSTestConfig.h"

@implementation DSTestConfig

/**
 * Maps json key to property name.
 * This method is used by `JSONModel`.
 */
+ (JSONKeyMapper *)keyMapper
{
  return [[JSONKeyMapper alloc] initWithModelToJSONDictionary:@{ @"username": @"username", @"password": @"password", @"integratorKey": @"integratorKey", @"accountId": @"accountId", @"envelopeId": @"envelopeId", @"templateId": @"templateId", @"host": @"host", @"returnUrl": @"returnUrl", @"recipientEmail": @"recipientEmail", @"recipientName": @"recipientName", @"templateRoleName": @"templateRoleName", @"apiClient": @"apiClient", @"headerKey": @"headerKey", @"headerValue": @"headerValue", @"clientUserId": @"clientUserId", @"userId":@"userId", @"oauthBasePath":@"" }];
}

/**
 * Indicates whether the property with the given name is optional.
 * If `propertyName` is optional, then return `YES`, otherwise return `NO`.
 * This method is used by `JSONModel`.
 */
+ (BOOL)propertyIsOptional:(NSString *)propertyName
{
  NSArray *optionalProperties = @[@"username", @"password", @"integratorKey", @"accountId", @"envelopeId", @"templateId", @"host", @"returnUrl", @"recipientEmail", @"recipientName", @"templateRoleName", @"apiClient", @"headerKey", @"headerValue", @"clientUserId", @"userId", @""];

  if ([optionalProperties containsObject:propertyName]) {
    return YES;
  }
  else {
    return NO;
  }
}

/**
 * Gets the string presentation of the object.
 * This method will be called when logging model object using `NSLog`.
 */
- (NSString *)description {
    return [[self toDictionary] description];
}

- (instancetype)init {
    if (self) {
        self.integratorKey = @"[REQUIRED]";

        // Legacy Auth Settings
        self.username = @"[REQUIRED]";
        self.password = @"[REQUIRED]";
        self.headerKey = @"X-DocuSign-Authentication";
        self.headerValue = [NSString stringWithFormat:@"{\"IntegratorKey\":\"%@\", \"Username\":\"%@\", \"Password\":\"%@\"}", self.integratorKey, self.username, self.password];
        
        // JWT Auth Settings
        self.userId = @"[REQUIRED]";
        self.oauthBasePath = @"account-d.docusign.com";

        self.recipientEmail = @"[REQUIRED]";
        self.recipientName = @"[REQUIRED]";
        self.templateRoleName = @"[REQUIRED]";
        self.templateId = @"[REQUIRED]";
        self.returnUrl = @"https://www.docusign.com/devcenter";
        self.host = @"https://demo.docusign.net/restapi";
        self.clientUserId = @"1234";
        
        self.apiClient = [[DSApiClient alloc] initWithBaseURL:[[NSURL alloc] initWithString:self.host]];
    }
    return self;
}

@end
